
@media only screen and (max-width: 767px) {
  /* Rules for mobile devices */
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    order: 2;
  }
  .table {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }
  th,
  td {
    width: 100%;
  }
  tbody tr:nth-child(odd) {
    background-color: #f099d0;
  }
  tbody tr:nth-child(even) {
    background-color: #e8bbd8;
  }
  .content {
    width: 100%;
    
  }
  footer {
    display: flex;
    justify-content: center;
  }
}

/* Common rules for all devices */
header,
footer,
nav,
article {
  display: block;
}

header {
  color: rgb(0, 0, 0);
  background-color: #ee3e99;
  padding: 12px;
  height: 150px;
}

.list a {
  text-decoration: none;
  font-family: serif;
  color: #000000;
  display: inline-block;
  padding: 5px 20px;
  background-color: rgb(240, 20, 134);
  border-bottom: 1rem solid #e483b5;
}

body {
  background-color: rgb(255, 240, 245);
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

a {
  color: #ff24ba;
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid;
}

a:link {
  color: #000000;
}

a:visited {
  color: #504f4f;
}

a:hover {
  color: #ff05d1;
}

a:active {
  color: #504f4f;
}

h1,
h2 {
  font-family: serif, 'Ariel', Times, serif;
  font-size: x-large;
}

.list {
  list-style: none;
  float: right;
}

table {
  table-layout: fixed;
  border: 1px solid black;
  background-color: #f099d0;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #ea6ebc;
}

tbody tr:nth-child(even) {
  background-color: #e8bbd8;
}

caption {
  padding: 20px;
  color: #000000;
  text-align: center;
  letter-spacing: 1px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #f6089a;
  color: #000000;
}
